
a{
  color: inherit;
  text-decoration: none;
}
p{
  margin: 10px 20px 20px;
  text-align: justify;
  text-indent: 5%;
}

*{
  margin: 0px;
  padding: 0px;
}
.flex-container{
  display: flex;
}
.sm{
  width: 20%;
}
.md{
  width: 50%;
}
.lg{
  width: 60%;
}

section{
  width: 80%;
}
aside{
  width: 20%;
}

/* INICIO DE LA HOJA DE ESTILOS */
body{
  max-width: 1200px;
  box-sizing: border-box;
  font-family: verdana, arial;
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 90%;
}

/* ------------------------------------*/
/* HEADER */
header{
  background-image: url(../imagenes/header.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  justify-content: space-between;
}
header figure{
  padding: 10px;
  text-align: center;
  position: relative;
  animation: mymove 5s infinite;
}
header figure img{
  width: 100px;
}
/* NAV */
#headernav{
  align-items: center;
  margin-bottom: 3rem;
}

/* KEYFRAMES */

@keyframes mymove {
  0%   {right: 0px; opacity: 0.2;}
  25%  {right: -30px; opacity: 0.8;}
  50%  {right: 0px; opacity: 1;}
  75%  {right: 30px; opacity: 0.8;}
  100% {right: 0px; opacity: 0.2;}
}
@keyframes changecolor {
  0%   {color: rgba(255,140,0,0.5);}
  25%  {color: rgba(255,140,0,0.9); text-shadow: 1px 1px 2px black;}
  100% {color: rgba(255,140,0,0.5);}
}


#navegador{
  display: flex;
  align-items: center;
}
#navegador ul{
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
nav ul li{
  list-style-type: none;
  text-align: center;
  justify-content: space-between;
  padding: 20px 20px;
  transition: 0.3s;
}
nav ul li i{
  margin-right: 8px;
}
nav ul li:hover{
  background-color: gray;
  text-shadow: 0px 2px 3px rgb(250,250,250,0.5);
  transform: scale(1.1);
}
#media{
  text-align: center;
}
#media i{
  margin-right: 1rem;
}

header h1{
  color: rgba(255,140,0,0.5);
  width: 80%;
  background-color: rgba(60,60,60,0.1);
  margin: auto;
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
  font-family: 'Times New Roman', Times, serif;
  animation: changecolor 3s infinite;
}

/* MAIN */
#articulos{
  background-color: gray;
  margin-right: 10px;
}
#articulos article{
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
}
#articulos figure{
  text-align: center;
  margin-bottom: 20px; 
}
#articulos figure img{
  width: 100%;
  min-width: 200px;
}
#articulos figure figcaption{
  text-align: left;
  color: yellow;
  margin-top: -30px;
  margin-left: 5px;
}
#articulos article h3{
  background-color: pink;
  padding: 8px 3px 4px 3px;
  text-transform: uppercase;
  color: white;
}
#articulos article p{
  column-count: 2;
  text-align: left;
}
aside{
  padding: 1rem;
  text-align: center;
}

/* ASIDE */
aside{
  background-color: gray;
}

/* FOOTER */
footer p{
  text-align: center;
  font-size: 0.9em;
}



@media screen and (max-width:850px){
  body{
    margin: 5px auto 5px auto;
    padding: 5px;
    width: 100%;
  }
  #articulos{
    margin-right: 0px;
    margin-bottom: 10px;
  }
  main {
    flex-wrap: wrap;
  }
  main aside, main section{
    width: 100%;
  }
}

@media screen and (max-width:600px){
  
  #headernav{
    flex-wrap: wrap;
  }
  #articulos div{
    display: flex;
    flex-wrap: wrap;
  }
  .articulosparte{
    display: flex;
    flex-wrap: wrap;
  }
  .sm, .lg, .md, main aside, main section, article{
    width: 100%;
  }
  #navegador ul li{
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

}















